<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle"
                    ng-class="{'btn-success': courseName.success==true, 'btn-info': courseName.success!=true}"
                    data-toggle="dropdown">
                        <span ng-show="courseName.id">
                            {[{ courseName.name }]}
                        </span>
                        <span ng-show="!courseName.id">
                            Cours...
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="courseNameOpt in courseNames">
                            <a href="" ng-click="selectCourseName(courseNameOpt)">
                                {[{ courseNameOpt.name }]}
                            </a>
                        </li>
                    </ul>
                </div><!-- ./btn-group -->
                <div class="btn-group">
                    <button class="btn btn-info"
                            type="button"
                            ng-disabled="!courseName.id"
                            ng-click="modCourseName()" />
                            Modifier
                    </button>
                </div><!-- ./btn-group -->
                <div class="btn-group">
                    <button class="btn btn-info"
                            ng-click="newCourseName()" />
                            Nouveau
                    </button>
                </div><!-- ./btn-group -->
             </div><!-- ./col-xs-offset-2 col-xs-10 -->
        </div><!-- ./form-group -->

        <div ng-show="isModCourseName">
            <div class="form-group">
                <label for="course_name_name" class="control-label col-xs-2">
                    Nom:
                </label>
                <div class="col-xs-10">
                    <div errormsg save-error="{[{courseName.errors.name}]}"></div>
                    <input type="text"
                            class="form-control"
                            id="course_name_name"
                            placeholder="Nom"
                            ng-model="courseName.name">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="btn-group">
                        <button class="btn btn-info"
                                ng-disabled="!courseName"
                                ng-click="saveCourseName()" />
                                Sauvegarder
                        </button>
                    </div><!-- ./btn-group -->

                    <div class="btn-group">
                        <button class="btn btn-danger"
                                ng-click="delCancelCourseName()" />
                                X
                        </button>
                    </div><!-- ./btn-group -->
                </div><!-- ./col-xs-offset-2 col-xs-10 -->
            </div><!-- ./form-group -->
        </div><!-- ./form-horizontal -->
    </div><!-- ./isModCourseName -->
</div><!-- ./row -->