<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                    <h4 
                    class="btn dropdown-toggle"
                    
                    ng-show="course.id">Cour de {[{ course.obj_unicode }]}</h4>
            </div><!-- ./col-xs-offset-2 col-xs-10 -->
        </div><!-- ./form-group -->
    </div><!-- ./form-horizontal -->
</div><!-- ./row -->
<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <div class="btn-group">
                    <button class="btn"
                            ng-class="{'btn-success': course.success==true, 'btn-info': course.success!=true}"
                            type="button"
                            ng-disabled="!course.id"
                            ng-click="modCourse()" />
                            Modifier
                    </button>
                </div><!-- ./btn-group -->
                <div class="btn-group">
                    <button class="btn btn-info"
                            ng-disabled="course.id"
                            ng-click="newCourse()" />
                            Nouveau
                    </button>
                </div><!-- ./btn-group -->
            </div><!-- ./col-xs-offset-2 col-xs-10 -->
        </div><!-- ./form-group -->

        <div ng-show="isModCourse">
            <div class="form-group">
                <label for="course_course_type" class="control-label col-xs-2">
                    Type:
                </label>
                <div class="col-xs-10">
                    <input type="text"
                            class="form-control"
                            id="course_name"
                            placeholder="Type"
                            ng-model="course.course_type">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <label for="course_course_note" class="control-label col-xs-2">
                    Note:
                </label>
                <div class="col-xs-10">
                    <input type="text"
                            class="form-control"
                            id="course_course_note"
                            placeholder="Note"
                            ng-model="course.note">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <label for="course_course_image" class="control-label col-xs-2">
                    Image:
                </label>
                <div class="col-xs-10">
                    <button class="btn btn-info"
                            onclick="document.getElementById('fileID').click(); return false;" />Rechercher
                    </button>
                    <!--
                    <input type="text"
                            class="form-control"
                            id="course_course_image"
                            placeholder="Image"
                            ng-model="course.image">
                    -->
                    <!-- the hidden button -->
                    <input type="file"
                            id="fileID"
                            ng-file-select="onFileSelect($files)"
                            style="visibility: hidden;">

                    <img ng-if="course" ng-src="{[{course.image}]}">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <label for="course_course_texte" class="control-label col-xs-2">
                    Texte:
                </label>
                <div class="col-xs-10">
                    <textarea rows="8"
                            class="form-control"
                            id="course_course_texte"
                            placeholder="Texte"
                            ng-model="course.body_txt">
                    </textarea>
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="btn-group">
                        <button class="btn btn-info"
                                ng-disabled="!course"
                                ng-click="saveCourse()" />
                                Sauvegarder
                        </button>
                    </div><!-- ./btn-group -->

                    <div class="btn-group">
                        <button class="btn btn-danger"
                                ng-click="delCancelCourse()" />
                                X
                        </button>
                    </div><!-- ./btn-group -->
                </div><!-- ./col-xs-offset-2 col-xs-10 -->
            </div><!-- ./form-group -->
        </div><!-- ./form-horizontal -->
    </div><!-- ./isModCourse -->
</div><!-- ./row -->