<label>day_name:</label>
<select ng-model="dayScheduleNew.day_name"
        ng-options="dayName.id as dayName.name for dayName in dayNames">
</select>

<label>hour_start:</label>
    <input type="text" ng-model="dayScheduleNew.hour_start">
<label>hour_end:</label>
    <input type="text" ng-model="dayScheduleNew.hour_end">
<input type="button"
        value="Sauvegarder"
        ng-click="saveDayScheduleNew()" />

<input type="button"
        value="X"
        ng-disabled="!dayScheduleNew.id"
        ng-click="" />