     
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-2">
                    <div class="btn-group dropup">
                        <br>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span ng-show="dayScheduleNew.day_name_name">
                                {[{ dayScheduleNew.day_name_name }]}
                            </span>
                            <span ng-show="!dayScheduleNew.day_name_name">
                                Jours...
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="dayName in dayNames"
                                ng-init="dayScheduleNew_ = dayScheduleNew">
                                <a href="" ng-click="selectDayName(dayName, dayScheduleNew)">
                                    {[{ dayName.name }]}
                                </a>
                            </li>
                        </ul>
                    </div><!-- ./btn-group -->
                </div><!-- ./col-sm-offset-2 col-sm-2 -->

                <div class="col-sm-2">
                    D&eacute;but:
                    <input type="text"
                            class="form-control"
                            id="day_schedule_hour_end"
                            placeholder="00:00h"
                            ng-model="dayScheduleNew.hour_start">
                </div><!-- ./col-sm-1 -->

                <div class="col-sm-2">
                    Fin:
                    <input type="text"
                            class="form-control"
                            id="day_schedule_hour_end"
                            placeholder="00:00h"
                            ng-model="dayScheduleNew.hour_end">
                </div><!-- ./col-sm-2 -->

                <div class="col-sm-3">
                    <br>
                    <div class="btn-group">
                        <button class="btn btn-info"
                                ng-class="{'btn-success': dayScheduleNew.success==true, 'btn-info': dayScheduleNew.success!=true}"
                                ng-disabled="!dayScheduleNew"
                                ng-click="saveDayScheduleNew(dayScheduleNew)" />
                                Sauvegarder
                        </button>
                    </div><!-- ./btn-group -->

                    <div class="btn-group">
                        <button class="btn btn-danger"
                                ng-click="delCancelDaySchedule(dayScheduleNew)" />
                                X
                        </button>
                    </div><!-- ./btn-group -->
                </div><!-- ./col-xs-offset-2 col-xs-10 -->
            </div>
        </div>
    </div>
