<div ng-repeat="daySchedule in daySchedules">
    <label>day_name:</label>
    <select ng-model="daySchedule.day_name"
            ng-options="dayName.id as dayName.name for dayName in dayNames">
    </select>

    <label>hour_start:</label>
        <input type="text" ng-model="daySchedule.hour_start">
    <label>hour_end:</label>
        <input type="text" ng-model="daySchedule.hour_end">
    <input type="button"
            value="Sauvegarder"
            ng-click="saveDaySchedule(daySchedule)" />

    <input type="button"
            value="X"
            ng-click="delDaySchedule(daySchedule)"/>
</div><!-- ./ng-repeat="daySchedule -->