{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="appActivities" >
<head>
    <meta name="viewport" content="width=320, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


    <link rel="stylesheet" href="{% static "activities/assets/libs/bootstrap-datetimepicker/3.1.3/build/css/bootstrap-datetimepicker.css" %}"></link>


    <style type="text/css">
        .bg-save {
            background-color: #00FF00;
        }


    </style>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>

    <script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js"></script>

    <script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-cookies.js"></script>

    <script type="text/javascript"
        src="{% static "activities/assets/libs/moment/2.8.3/min/moment-with-locales.min.js" %}"></script>

    <script type="text/javascript"
        src="{% static "activities/assets/libs/bootstrap-datetimepicker/3.1.3/src/js/bootstrap-datetimepicker.js" %}"></script>

    <script type="text/javascript"
        src="{% static "activities/angular/apps/activities/controllers/app_activities.js" %}"></script>

    <script type="text/javascript"
        src="{% static "activities/angular/apps/activities/services/model_utils.js" %}"></script>

    <!--
    <script type="text/javascript"
        src="{% static "activities/assets/libs/angular-dialog-service/dist/dialogs.min.js" %}"></script>
    -->


    <script src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>



</head>
<body ng-controller="MainCtrl">
    <div class="container">

        {% include "activities/teacher.html" %}
        <hr />


        {% include "activities/course_name.html" %}


        <div ng-show="(teacher.id && courseName.id)">
            <hr />

            {% include "activities/course.html" %}
            <hr />

            <div ng-show="course.id">
                {% include "activities/schedule.html" %}
                <hr />
            </div><!-- ng-show="course.id" -->

            <div ng-show="schedule.id">
                <div ng-repeat="daySchedule in daySchedules">  
                    {% include "activities/day_schedule.html" %}    
                </div><!-- ./g-repeat="daySchedule -->

                {% include "activities/day_schedule_new.html" %}
                <hr />
            </div><!-- ./schedule -->
        </div><!-- ./(teacher.id && courseName.id) -->
    </div><!-- container -->
</body>
</html>

