<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle"
                    ng-class="{'btn-success': schedule.success==true, 'btn-info': schedule.success!=true}"
                    data-toggle="dropdown">
                        <span ng-show="schedule.id">
                            {[{ schedule.name }]}
                        </span>
                        <span ng-show="!schedule.id">
                            Schedule...
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="scheduleOpt in schedules">
                            <a href="" ng-click="selectSchedule(scheduleOpt)">
                                {[{ scheduleOpt.name }]}
                            </a>
                        </li>
                    </ul>
                </div><!-- ./btn-group -->
                <div class="btn-group">
                    <button class="btn btn-info"
                            type="button"
                            ng-disabled="!schedule.id"
                            ng-click="modSchedule()" />
                            Modifier
                    </button>
                </div><!-- ./btn-group -->
                <div class="btn-group">
                    <button class="btn btn-info"
                            ng-click="newSchedule()" />
                            Nouveau
                    </button>
                </div><!-- ./btn-group -->
            </div><!-- ./col-xs-offset-2 col-xs-10 -->
        </div><!-- ./form-group -->
    </div><!-- ./form-horizontal -->
</div><!-- ./row -->


<div ng-show="isModSchedule">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="schedule_name" class="control-label col-xs-2">
                    <br>
                    Nom:
                </label>
                <div class="col-sm-3">
                    &nbsp;
                    <input type="text"
                            class="form-control"
                            id="schedule_name"
                            placeholder="Nom"
                            ng-model="schedule.name">
                </div><!-- ./col-sm-3 -->
                {% include "activities/datepicker.html" with ng_model='schedule.day_start' id_model='day_start' label='Du:' %}

                {% include "activities/datepicker.html" with ng_model='schedule.day_end' id_model='day_end' label='Au:' %}
            </div><!-- ./form-group -->


            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="btn-group">
                        <button class="btn btn-info"
                                ng-disabled="!schedule"
                                ng-click="saveSchedule()" />
                                Sauvegarder
                        </button>
                    </div><!-- ./btn-group -->

                    <div class="btn-group">
                        <button class="btn btn-danger"
                                ng-click="delCancelSchedule()" />
                                X
                        </button>
                    </div><!-- ./btn-group -->
                </div><!-- ./col-xs-offset-2 col-xs-10 -->
            </div><!-- ./form-group -->


        </div><!-- ./form-horizontal -->
    </div><!-- ./row -->
</div><!-- ./isModCourse -->




