
<!--
<select ng-model="teacher"
        ng-options="(teacherOpt.first_name + ' ' + teacherOpt.last_name)
                    for teacherOpt in teachers"
        ng-init="teacher=(teacherOpt.first_name + ' ' + teacherOpt.last_name)">
</select>
-->
<!--
<div class="row">
    <div class="col-xs-offset-2 col-xs-10">
        <h4>Enseignants</h4>
    </div>
</div>
-->
<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                    <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle"
                    ng-class="{'btn-success': teacher.success==true, 'btn-info': teacher.success!=true}"
                    data-toggle="dropdown">
                        <span ng-show="teacher.id">
                            {[{ teacher.first_name + ' ' + teacher.last_name }]}
                        </span>
                        <span ng-show="!teacher.id">
                            Enseignants...
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="teacherOpt in teachers">
                            <a href="" ng-click="selectTeacher(teacherOpt)">
                                {[{ teacherOpt.first_name + ' ' + teacherOpt.last_name }]}
                            </a>
                        </li>
                    </ul>
                </div><!-- ./btn-group -->
                <div class="btn-group">
                    <button class="btn btn-info"
                            type="button"
                            ng-disabled="!teacher.id"
                            ng-click="modTeacher()" />
                            Modifier
                    </button>
                </div><!-- ./btn-group -->
                <div class="btn-group">
                    <button class="btn btn-info"
                            ng-click="newTeacher()" />
                            Nouveau
                    </button>
                </div><!-- ./btn-group -->
            </div><!-- ./col-xs-offset-2 col-xs-10 -->
        </div><!-- ./form-group -->
    </div><!-- ./form-horizontal -->
</div><!-- ./row -->

<div ng-show="isModTeacher">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="first_name" class="control-label col-xs-2">
                    Pr&eacute;nom:
                </label>
                <div class="col-xs-10">
                    <div errormsg save-error="{[{teacher.errors.first_name}]}"></div>
                    <input type="text"
                            class="form-control"
                            id="first_name"
                            placeholder="Prénom"
                            ng-model="teacher.first_name">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <label for="last_name" class="control-label col-xs-2">
                    Nom:
                </label>
                <div class="col-xs-10">
                    <div errormsg save-error="{[{teacher.errors.last_name}]}"></div>
                    <input type="text"
                            class="form-control"
                            id="last_name"
                            placeholder="Nom"
                            ng-model="teacher.last_name">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <label for="tel" class="control-label col-xs-2">
                    T&eacute;l&eacute;phone:
                </label>
                <div class="col-xs-10">
                    <div errormsg save-error="{[{teacher.errors.tel}]}"></div>
                    <input type="text"
                            class="form-control"
                            id="tel"
                            placeholder="Téléphone"
                            ng-model="teacher.tel">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <label for="school_name" class="control-label col-xs-2">
                    &Eacute;cole:
                </label>
                <div class="col-xs-10">
                    <div errormsg save-error="{[{teacher.errors.school_name}]}"></div>
                    <input type="text"
                            class="form-control"
                            id="school_name"
                            placeholder="École"
                            ng-model="teacher.school_name">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <label for="school_url" class="control-label col-xs-2">
                    &Eacute;cole URL:
                </label>
                <div class="col-xs-10">
                    <div errormsg save-error="{[{teacher.errors.school_url}]}"></div>
                    <input type="text"
                            class="form-control"
                            id="school_url"
                            placeholder="http://"
                            ng-model="teacher.school_url">
                </div><!-- ./col-xs-10 -->
            </div><!-- ./form-group -->

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="btn-group">
                        <button class="btn btn-info"
                                ng-disabled="!teacher"
                                ng-click="saveTeacher()" />
                                Sauvegarder
                        </button>
                    </div><!-- ./btn-group -->

                    <div class="btn-group">
                        <button class="btn btn-danger"
                                confirmed-click="delCancelTeacher()" 
                                ng-confirm-click="Voulez-vous supprimer ce professeur ?"
                                ng-click="delCancelTeacher()" />
                                X
                        </button>
                    </div><!-- ./btn-group -->
                </div><!-- ./col-xs-offset-2 col-xs-10 -->
            </div><!-- ./form-group -->
        </div><!-- ./form-horizontal -->
    </div><!-- ./row -->
</div><!-- ./isModTeacher -->